# --- source1_mbta_lamp_delay.py - data pipeline
requests>=2.31
pandas>=2.2
numpy>=1.26
pyarrow>=14.0              #read parquet files
google-cloud-storage>=2.10 #GCS upload
python-dotenv>=1.0 #for user_requirements
 
# --- mbta_lamp_api.py - fastapi
fastapi>=0.100
 
# optional for notebook
matplotlib>=3.7
ipykernel>=6.0        
